# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Final Year\Sem1\Optional\6SENG004C Concurrent Programming (SEM 1)\JavaProjects\JavaThreads\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
